# Đây là file ví dụ cho biến môi trường (Environment Variables)
# Không được lưu file .env gốc (chứa cấu hình thật) lên GitHub!
# Dành cho Development ở máy cá nhân (Local), hãy copy file này đổi tên thành .env.local và chỉnh sửa
# Dành cho Production (Vercel), copy tên biến này lên Dashboard của Vercel -> Settings -> Environment Variables

# Biến môi trường báo cho ứng dụng React biết URL của web backend cần gọi
# Ví dụ Localhost:
# VITE_API_URL=http://localhost:5275/api
# Ví dụ ứng dụng đã deploy lên Render:
VITE_API_URL=https://mechanic-setu.onrender.com/api
